/* @media (prefers-color-scheme: light) { */
/* :root { */
/* color: #213547; */
/* background-color: #ffffff; */
/* } */
/* a:hover { */
/* color: #747bff; */
/* } */
/* button { */
/* background-color: #f9f9f9; */
/* } */
/* } */

testing {
  color: #f8f3f3;
  color: #b60d45;
  color: #c76586;
  color: #b60d45;
  color: #e70bc3;
  color: #f85bde;
}
